In [17]:
import requests
import pandas as pd

from math import ceil

In [18]:
def get_data(url):
    response = requests.get(url)
    data = response.json()

    return data

In [28]:
def make_url(item: str, parameters: dict):
    
    pars = '&'.join(f'{k}={v}' for k, v in parameters.items())
    url = 'https://bdl.stat.gov.pl/api/v1/' + item + '?' + pars

    return url

In [34]:
def get_num_pages(item: str, parameters: dict):

    if 'page-size' in parameters.keys():
        page_size = parameters['page-size']
    else:
        page_size = 100

    url = make_url(item, parameters)
    data = get_data(url)
    
    total_records = data['totalRecords']
    num_pages = ceil(total_records / page_size)

    return num_pages

In [35]:
def fetch_all(query: str, parameters: dict):

    num_pages = get_num_pages(query, parameters)

    df = pd.DataFrame()

    for i in range(num_pages):
        parameters['page'] = i
        url = make_url(query, parameters)

        new_data = get_data(url)['results']
        new_df = pd.DataFrame(new_data)

        df = pd.concat([df, new_df],
                       ignore_index=True)

    return df

The variables from Mieszkania oddane do użytkowania (dane miesięczne)

In [42]:
fetch_all('Variables',
          {'subject-id':'P3823', 'page-size': 100})

,id,subjectId,n1,n2,n3,level,measureUnitId,measureUnitName
0,748409,P3823,styczeń,ogółem,mieszkania,5,1,-
1,748410,P3823,styczeń,ogółem,powierzchnia użytkowa,5,16,m2
2,748411,P3823,styczeń,indywidualne,mieszkania,5,1,-
3,748412,P3823,styczeń,indywidualne,powierzchnia użytkowa,5,16,m2
4,748413,P3823,styczeń,spółdzielcze,mieszkania,5,1,-
...,...,...,...,...,...,...,...,...
187,748596,P3823,styczeń-grudzień,komunalne,powierzchnia użytkowa,5,1,-
188,748597,P3823,styczeń-grudzień,społeczne czynszowe,mieszkania,5,1,-
189,748598,P3823,styczeń-grudzień,społeczne czynszowe,powierzchnia użytkowa,5,1,-
190,748599,P3823,styczeń-grudzień,zakładowe,mieszkania,5,1,-
191,748600,P3823,styczeń-grudzień,zakładowe,powierzchnia użytkowa,5,1,-

The chosen variable

In [ ]:
fetch_all('data/by-variable/748409',
          {'format':'json', 'lang':'en'})

,id,name,values
0,000000000000,POLAND,"[{'year': '2005', 'val': 11971, 'attrId': 1}, ..."
1,010000000000,MACROREGION POŁUDNIOWY,"[{'year': '2005', 'val': 2461, 'attrId': 1}, {..."
2,011200000000,MAŁOPOLSKIE,"[{'year': '2005', 'val': 1802, 'attrId': 1}, {..."
3,011210000000,REGION MAŁOPOLSKIE,"[{'year': '2005', 'val': 1802, 'attrId': 1}, {..."
4,011212000000,SUBREGION KRAKOWSKI,"[{'year': '2005', 'val': 245, 'attrId': 1}, {'..."
5,011212001000,Powiat bocheński,"[{'year': '2005', 'val': 23, 'attrId': 1}, {'y..."
6,011212006000,Powiat krakowski,"[{'year': '2005', 'val': 136, 'attrId': 1}, {'..."
7,011212008000,Powiat miechowski,"[{'year': '2005', 'val': 0, 'attrId': 0}, {'ye..."
8,011212009000,Powiat myślenicki,"[{'year': '2005', 'val': 28, 'attrId': 1}, {'y..."
9,011212014000,Powiat proszowicki,"[{'year': '2005', 'val': 3, 'attrId': 1}, {'ye..."
10,011212019000,Powiat wielicki,"[{'year': '2005', 'val': 55, 'attrId': 1}, {'y..."
11,011212100000,SUBREGION CITY OF KRAKÓW,"[{'year': '2005', 'val': 1210, 'attrId': 1}, {..."
12,011212161000,City with powiat status Kraków,"[{'year': '2005', 'val': 1210, 'attrId': 1}, {..."
13,011212200000,SUBREGION NOWOSĄDECKI,"[{'year': '2005', 'val': 79, 'attrId': 1}, {'y..."
14,011212205000,Powiat gorlicki,"[{'year': '2005', 'val': 18, 'attrId': 1}, {'y..."
15,011212207000,Powiat limanowski,"[{'year': '2005', 'val': 10, 'attrId': 1}, {'y..."
16,011212210000,Powiat nowosądecki,"[{'year': '2005', 'val': 29, 'attrId': 1}, {'y..."
17,011212262000,City with powiat status Nowy Sącz,"[{'year': '2005', 'val': 22, 'attrId': 1}, {'y..."
18,011212300000,SUBREGION OŚWIĘCIMSKI,"[{'year': '2005', 'val': 80, 'attrId': 1}, {'y..."
19,011212303000,Powiat chrzanowski,"[{'year': '2005', 'val': 6, 'attrId': 1}, {'ye..."
20,011212312000,Powiat olkuski,"[{'year': '2005', 'val': 11, 'attrId': 1}, {'y..."
21,011212313000,Powiat oświęcimski,"[{'year': '2005', 'val': 17, 'attrId': 1}, {'y..."
22,011212318000,Powiat wadowicki,"[{'year': '2005', 'val': 46, 'attrId': 1}, {'y..."
23,011212400000,SUBREGION TARNOWSKI,"[{'year': '2005', 'val': 83, 'attrId': 1}, {'y..."
24,011212402000,Powiat brzeski,"[{'year': '2005', 'val': 21, 'attrId': 1}, {'y..."
25,011212404000,Powiat dąbrowski,"[{'year': '2005', 'val': 3, 'attrId': 1}, {'ye..."
26,011212416000,Powiat tarnowski,"[{'year': '2005', 'val': 30, 'attrId': 1}, {'y..."
27,011212463000,City with powiat status Tarnów,"[{'year': '2005', 'val': 29, 'attrId': 1}, {'y..."
28,011216900000,SUBREGION NOWOTARSKI,"[{'year': '2005', 'val': 105, 'attrId': 1}, {'..."
29,011216911000,Powiat nowotarski,"[{'year': '2005', 'val': 57, 'attrId': 1}, {'y..."
30,011216915000,Powiat suski,"[{'year': '2005', 'val': 23, 'attrId': 1}, {'y..."
31,011216917000,Powiat tatrzański,"[{'year': '2005', 'val': 25, 'attrId': 1}, {'y..."
32,012400000000,ŚLĄSKIE,"[{'year': '2005', 'val': 659, 'attrId': 1}, {'..."
33,012410000000,REGION ŚLĄSKIE,"[{'year': '2005', 'val': 659, 'attrId': 1}, {'..."
34,012414400000,SUBREGION BIELSKI,"[{'year': '2005', 'val': 164, 'attrId': 1}, {'..."
35,012414402000,Powiat bielski,"[{'year': '2005', 'val': 53, 'attrId': 1}, {'y..."
36,012414403000,Powiat cieszyński,"[{'year': '2005', 'val': 64, 'attrId': 1}, {'y..."
37,012414417000,Powiat żywiecki,"[{'year': '2005', 'val': 18, 'attrId': 1}, {'y..."
38,012414461000,City with powiat status Bielsko-Biała,"[{'year': '2005', 'val': 29, 'attrId': 1}, {'y..."
39,012414500000,SUBREGION BYTOMSKI,"[{'year': '2005', 'val': 40, 'attrId': 1}, {'y..."
40,012414507000,Powiat lubliniecki,"[{'year': '2005', 'val': 14, 'attrId': 1}, {'y..."
41,012414513000,Powiat tarnogórski,"[{'year': '2005', 'val': 21, 'attrId': 1}, {'y..."
42,012414562000,City with powiat status Bytom,"[{'year': '2005', 'val': 2, 'attrId': 1}, {'ye..."
43,012414571000,City with powiat status Piekary Śląskie,"[{'year': '2005', 'val': 3, 'attrId': 1}, {'ye..."
44,012414600000,SUBREGION CZĘSTOCHOWSKI,"[{'year': '2005', 'val': 117, 'attrId': 1}, {'..."
45,012414604000,Powiat częstochowski,"[{'year': '2005', 'val': 26, 'attrId': 1}, {'y..."
46,012414606000,Powiat kłobucki,"[{'year': '2005', 'val': 21, 'attrId': 1}, {'y..."
47,012414609000,Powiat myszkowski,"[{'year': '2005', 'val': 32, 'attrId': 1}, {'y..."
48,012414664000,City with powiat status Częstochowa,"[{'year': '2005', 'val': 38, 'attrId': 1}, {'y..."
49,012414700000,SUBREGION GLIWICKI,"[{'year': '2005', 'val': 48, 'attrId': 1}, {'y..."

The units

In [ ]:
fetch_all('Units',
          {'parent-id':'071412800000', 'level':'5','lang':'en'})

,id,name,parentId,level,kind,hasDescription
0,071412831000,Powiat warszawski,071412800000,5,1,True
1,071412865000,City with powiat status Capital City Warszawa,071412800000,5,2,True

In [40]:
fetch_all('data/by-unit/071412800000',
          {'var-id':'748409', 'var-id':'748410'})

,id,measureUnitId,lastUpdate,values
0,748410,16,2025-06-03T13:01:12.117,"[{'year': '2005', 'val': 111983, 'attrId': 1},..."