The variables from Mieszkania oddane do użytkowania (dane miesięczne)

In [ ]:
fetch_all('Variables', {'subject-id':'P3823'})

,id,subjectId,n1,n2,n3,level,measureUnitId,measureUnitName
0,748409,P3823,styczeń,ogółem,mieszkania,5,1,-
1,748410,P3823,styczeń,ogółem,powierzchnia użytkowa,5,16,m2
2,748411,P3823,styczeń,indywidualne,mieszkania,5,1,-
3,748412,P3823,styczeń,indywidualne,powierzchnia użytkowa,5,16,m2
4,748413,P3823,styczeń,spółdzielcze,mieszkania,5,1,-
...,...,...,...,...,...,...,...,...
187,748596,P3823,styczeń-grudzień,komunalne,powierzchnia użytkowa,5,1,-
188,748597,P3823,styczeń-grudzień,społeczne czynszowe,mieszkania,5,1,-
189,748598,P3823,styczeń-grudzień,społeczne czynszowe,powierzchnia użytkowa,5,1,-
190,748599,P3823,styczeń-grudzień,zakładowe,mieszkania,5,1,-
191,748600,P3823,styczeń-grudzień,zakładowe,powierzchnia użytkowa,5,1,-

The units

In [ ]:
fetch_all('Units',
          {'parent-id':'071412800000', 'level':'5'})

,id,name,parentId,level,kind,hasDescription
0,071412831000,Powiat warszawski,071412800000,5,1,True
1,071412865000,City with powiat status Capital City Warszawa,071412800000,5,2,True

In [22]:
fetch_all('data/by-unit/071412800000',
          {'var-id':'748409', 'var-id':'748410'})

,id,measureUnitId,lastUpdate,values
0,748410,16,2025-06-03T13:01:12.117,"[{'year': '2005', 'val': 111983, 'attrId': 1},..."